@import "vars";
@import "_libs";
@import "fonts";
@import "global";


.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header-bg.jpg) no-repeat;
    background-size: cover;

    min-height: 520px;
}

.header__top {
    display: flex;
    justify-content: space-between;

}


.header__title {
    font-size: 72px;
    line-height: 71px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;

    &::before {
        content: "";
        width: 693px;
        height: 5px;
        background-color: red;
        position: absolute;
        bottom: 0;

    }
}

.header__text {
    margin: 30px 0 47px;
    max-width: 930px;
}

.advantage {
    margin-bottom: 84px;
}

.advantage__title {
    margin-bottom: 40px;
}

.advantage__text {
    text-align: center;
    font-weight: 300;
    color: #828282;
    max-width: 934px;
    margin: 0 auto;
}

.advantage__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;

}

.advantage__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;

    &-num {
        font-family: 'Helvetica Neue Cyr Bold';
        font-size: 92px;
        line-height: 100px;
        color: $red;
    }

    &-text {
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: $dark;
        white-space: pre-line;
    }
}


.course {
    position: relative;
}



.course__inner {
    display: flex;

}

.course__net {
    background: $red;
    width: 67%;
    padding: 30px 50px 0 150px;

    &-logo {
        font-family: 'Helvetica Neue Cyr Bold';
        font-size: 72px;
        line-height: 69px;
        margin-bottom: 20px;
    }

    &-title {
        font-size: 30px;
        line-height: 30px;
        position: relative;
        padding-bottom: 21px;

        &::before {
            content: "";
            width: 379px;
            height: 3px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &-text {
        margin: 30px 0 60px;
        text-indent: 20px;
        max-width: 821px;
    }


}

.course__net-result {
    padding-left: 33px;
}


.course__net-item {
    margin: 30px 0 30px 23px;
    position: relative;
    padding-left: 14px;
    display: list-item;
    list-style-image: url(../img/list-type-white.png);


}

.course__candidate {
    background: #F2F2F2;
    width: 33%;

    &-title {
        font-family: 'Helvetica Neue Cyr Bold';
        font-weight: 550;
        font-size: 26px;
        line-height: 25.69px;
        white-space: pre-line;
        color: $red;
        padding: 204px 0 37px 24px;

        span {
            font-size: 36px;
            line-height: 36px;
        }
    }
}

.course__candidate-demands {
    padding-left: 28px;
    margin-bottom: 81px;
}


.course__candidate-demand {
    color: $dark;
    font-size: 18px;
    line-height: 37px;
    max-width: 447px;
    position: relative;
    padding-left: 10px;

}

.course__candidate-img {
    width: 100%;
}

.course__reg {
    box-shadow: $box-shadow;
    max-height: 318px;
    max-width: 1138px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 30px 0;
}




.course__reg-items {
    display: flex;
    padding: 0 38px;

    &-item :not(:last-child) {
        margin-right: 80px;
    }
}

.course__reg-item {
    color: $dark;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.course__reg-imagebox {
    position: relative;
    margin-bottom: 12px;
}


.course__reg-arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    margin-left: 60px;
}

.course__reg-text {
    text-align: center;
    margin-bottom: 22px;
    white-space: pre-line;
    font-size: 18px;
    line-height: 18px;
}

.course__reg-btn {
    margin: 0 auto;
    display: block;

}

.about {
    margin: 218px 0 60px;
}

.about__title {
    margin-bottom: 60px;
}

.about__items {
    display: flex;
    justify-content: space-around;
}

.about__item {
    display: flex;
    color: $dark;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
}

.about__item-text {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;

    span {
        white-space: nowrap;
        margin-bottom: -16px;
        font-weight: 600;
    }
}

.result {
    margin-bottom: 110px;
}

.result__items {
    color: $dark;
    display: flex;
    flex-direction: column;


}

.result__item {
    display: flex;
    margin: 0 auto 70px;
    position: relative;

    &-img {
        align-self: end;
        margin-right: 80px;
    }

    &-info {
        font-size: 20px;
        line-height: 24px;
        max-width: 467px;
    }
}

.result__item-title {
    padding-bottom: 20px;
    font-weight: 600;
}

.result__cursor {
    position: absolute;
    margin-top: 41px;
    top: 120px;
    left: 105px;
}

.instructor {
    background-color: #F2F2F2;
    padding-bottom: 60px;

}

.instructor__img {
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    padding: 5px;
}

.instructor__title {
    padding-top: 60px;
    margin-bottom: 85px;
}

.instructor__items {
    display: flex;
    padding: 0 255px;
}

.instructor__item {
    margin: 0 auto;
    text-align: center;
    color: $dark;
}

.instructor__name {
    font-size: 24px;
    line-height: 24px;
    color: $red;
    font-family: 'Helvetica Neue Cyr Bold';
    padding: 20px 0 15px;
}


.intstructor__experience {
    padding-top: 12px;
    font-size: 20px;
    line-height: 20px;
    color: #828282;
}

.location {}

.location__gallery {
    margin: 0 -5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;


    &-photo {
        padding: 5px;
        flex-grow: 3;
    }

}

.location__map {
    max-width: 1440px;
    margin: 0 auto;
}

.popup {}

@import "media";